.box{
    margin: auto;
    justify-content: center;
    text-align: center;
    /* border:2px solid black; */
    width:252px;
}
.box1{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.main{
    position: relative;
    top: 100px;
}
.box1 a{
    text-decoration: none;
    color: green;
}