body{
    background-image: url(/image/paul-earle-wVjd0eWNqI8-unsplash.jpg);
}
.box{
    margin: auto;
    justify-content: center;
    text-align: center;
    /* border:2px solid black; */
    width:48vw;
    
}
.box1{
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: #8D918D;
}
.main{
    position: relative;
    top: 100px;
   
}
.box1 a{
    text-decoration: none;
    color: green;
}